@font-face {
    font-family: 'Abel';
    src: url(../fonts/Abel-Regular.ttf);
  }
  
body {
    background-color: #003C71;
  }

span{
    text-align: center;
}

main{
    font-family: 'Abel';
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 6.5em;
    height: 175%;
}

#title{
    font-size: 11em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
  
#subtitle{
        font-size: 5em;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        
}

#texto{
    margin: 0.5em 0px;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}

#css {
    margin: 2em 0px 1em 0px;
    font-size: 2.5em;
    text-align: center;
}

#errorbutton{
    padding: 1.5vh 4vw;
    margin: 1.5em 0px;
    border-radius: 8px;
    color: white;
}

#errortext{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Abel';
    font-weight: bold;
    font-size: 3em;
    color: black;
}