@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #003C71;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 800px;
}

.form-container {
    background-color: white;
    border-radius: 6px;
}

#btn-submit {
    background-color: #003C71;
}