@import url('https://fonts.googleapis.com/css?family=Abel');

.main{
    font-family: 'Abel';
}

.modal-primary{
    background-color: #003C71;
}

.modal-header{
    background-color: #003C71;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.button-container{
    margin: 0em 0.25em;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 6px;
}

.error{
    color: red;
    margin: 0.25em;
    margin-bottom: 0.5em;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
.div-form{
    margin-bottom: 0em;
}
.modal-student{
    width: 65%;
    max-width: none;
}


.dropdown-header {
    background-color: #003C71;
    color: white;
}

.sidebar {
    background-color: #003C71;

}

@media screen and (max-width: 450px) {
    .btn-label {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .breadcrumb {
        margin-top: 55px;
    }
}

@media screen and (min-width: 991px) {
    #logout {
        margin-right: 30px;
    }
}