@import url('https://fonts.googleapis.com/css?family=Abel');

.main{
    font-family: 'Abel';
}

.sidebar {
    background-color: #003C71;

}

@media screen and (min-width: 991px) {
    #logout {
        margin-right: 30px;
    }
}