@import url('https://fonts.googleapis.com/css?family=Abel');

.main{
    font-family: 'Abel';
}

.modal-primary{
    background-color: #003C71;
}

.modal-header{
    background-color: #003C71;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.button-container{
    margin: 0em 0.25em;
}
.modal-content{
    width : 100% !important;
    position : absolute !important;
}
.mostrar{
    display : list-item !important;
    opacity : 1 !important;
    position: absolute !important;
    background-color: #3c29297a !important;
}
.error{
    color: red;
    margin: 0.25em;
    margin-bottom: 0.5em;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
.div-form{
    margin-bottom: 0em;
}
.modal-student{
    width: 65%;
    max-width: none;
}


/*#icons-pos{
    display: flex;
    height: 100%;
    flex-flow: row;
    justify-content: center;
}*/


#pos{

}