@font-face {
    font-family: 'Abel';
    src: url(../fonts/Abel-Regular.ttf);
}


.main{
    font-family: 'Abel';
}

.sidebar {
    background-color: #003C71;

}

@media screen and (min-width: 991px) {
    #logout {
        margin-right: 30px;
    }
}
@media screen and (max-width: 991px) {
    #logout {
        margin-right: 30px;
    }
}