@font-face {
  font-family: 'Abel';
  src: url(../fonts/Abel-Regular.ttf);
}


html,
body {
  height: 100%;
  min-height: 100%;
  font-family: 'Abel';
}

/* Gradients
background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);

background-image: linear-gradient( 109.6deg,  rgba(39,142,255,1) 11.2%, rgba(98,113,255,0.78) 100.2% );

background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
*/

.wrapper::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    background-image: url("../img/fondo-uca.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    z-index: -1;
}


.cuerpo {
  width: 100%;
  background-color: #003c71;
  font-family: 'Abel';
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.label-form {
  font-size: large;
  color: black;
}

#titulo {
  color: white;
  /*text-align: center;*/
  padding: 8px;
  padding-left: 34px;
  margin-bottom: 0;
}



.titulo {
    /*background-color: #003c71;*/
    background-image: linear-gradient( 109.6deg,  rgba(39,142,255,1) 11.2%, rgba(98,113,255,0.78) 100.2% );
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.card {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-group > .card:not(:first-child) {
    border-bottom-left-radius: .25em;
}

.card-group {
  align-self: center;
  height: 100%;
  flex-direction: column;
  border-bottom-left-radius: .25em;
  z-index: 0;
  width: 600px;
}

#registrarbtn {
  width: 100%;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 695px) {
  .card-group {
    width: 400px;
  }
}

@media screen and (max-width: 436px) {
  .card-group {
    width: 300px;
  }
}